.map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.map .leaflet-container {
  height: 100%;
}

.popupDetails__flag {
  width: 100%;
}
.popupDetails__flag img {
  width: 100%;
  max-width: 100%;
}
.popupDetails strong {
  font-weight: 500;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}
.popupDetails p {
  font-size: 14px;
  margin: 5px 0;
}
.popupDetails p strong {
  margin: 0;
}
